.nav {
	display: flex;
	padding: 2rem;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: auto;
	margin-bottom: 10rem;
}

@media (max-width: 680px) {
	.nav {
		flex-direction: column;
		align-items: center;

		> div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		> div > h3 {
			margin-bottom: 0.5rem;
		}

		> div > h2 {
			margin-bottom: 1rem;
		}
	}
}
