.rangeWrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: space-between;
  padding-top: 2rem;

  .rangeContent {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  
  >p{
    text-align: center;
    color: red;
  }

  .show {
    visibility: visible;
    height: 1rem;
  }

  .hide {
    visibility: hidden;
    height: 1rem;
  }
}